/*Police*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

/***************Généralités***********/

* {
    box-sizing: border-box;
    font-family: "Raleway";
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

/*****************header****************/

.entete_imagelogo{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.choix{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigation{
    display: flex;
    justify-content: space-around;
    width: 200px;
}
.btn_navigation{
    padding: 56px;
    display: flex;
    font-weight: 450;
}

/*hoover*/

.btn_navigation:hover {
    border-top: 4px solid #0065FC;
    color: #0065FC;
}

/******************Main********************/

/****************Slogan***************/

.titre {
    margin-left: 15px;
}

/*********barre de recherche********/

.barre-de-recherche {
    display: flex;
    justify-items: baseline;
    margin-left: 25px;
}

.iconemap {
    position: relative;
    text-align: center;
    padding-top: 20px;
    right: -3px;
    height: 60px;
    width: 60px;
    border-radius: 15px 0 0 15px;
    background: #F2F2F2;
}

/*bouton barre de recherche*/

.btn1 {
    margin-left: 4px;
}

input[type="text"] {
    height: 60px;
}

input[type="submit"] {
    border: none;
    left: -5px;
    position: relative;
    border-radius: 0 15px 15px 0;
    height: 60px;
    color: white;
    background: #0065FC;
}

.loupe {
    display: none;
    position: relative;
    text-align: center;
    padding-top: 20px;
    right: -3px;
    height: 60px;
    width: 60px;
    border-radius: 15px 0 0 15px;
    background: #0065FC;
}


/*Les filtres*/

.itemfiltres {
    display: flex;
    justify-items: center;
    align-items: center;
}

.titre_filtre {
    margin: 25px 25px 20px 25px;
}

.bloc_filtres{
    display: flex;
    justify-content: space-around;
}

.ecofamille {
    display: flex;
    justify-content: space-around;
    width: 390px;
}

.romantique {
    display: flex;
    width: 400px;
    justify-content: space-around;
}

.filtre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 4px solid #F2F2F2;
    border-radius: 15px;
}
.text{
   margin: 7px;
}

.icone {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;
    margin: -10px;
    height: 40px;
    width: 40px;
    border-radius: 25px;
  
}

.filtre:hover {
    background-color: #0065FC;
    color: #F2F2F2;
}


/****************Texte d'information******************/

.information {
    display: flex;
    align-items: baseline;
    padding-left: 2%;
}

.fa-info {
    color: #0065FC;
    border: solid 4px #F2F2F2;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    text-align: center;
}

/********************logement*********************/

.section-carte {
    display: flex;
    justify-content: space-around;
}

.logement {
    width: 70%;
    background: #F2F2F2;
    height: 740px;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
}

/*cartes-logement*/

.hotel1 {
    display: flex;
}

.carte {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 35px;
    width: 100%;
    background: white;
}

/*photo des cartes logements*/

.photo {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.corps-de-carte {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Titre dans les carte*/

.titre-carte {
    color: black;
}

.card-excerpt {
    color: black;
}

/****************aside*****************/

.proposition {
    width: 30%;
    display: flex;
    flex-direction: column; 
}

.pop {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    align-items: baseline;
}

.bloc-popularite {
    margin: 0px 30px 0px 30px;
    height: 740px;
    border-radius: 25px;
    background-color: #F2F2F2;
}
.popularity{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.carte_populaire{
    display: flex;
    width: 90%;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
}

/*Titre*/

.photo_populaire{
    border: 1px;
    border-radius: 25px 0px 0px 25px;
    width: 35%;
    height: 150px;
    margin: 3px;
    object-fit: cover;
}

.corps_populaire{
    align-items: center;
}


.etoiles4 {
    display: flex;
    align-items: center;
    color: grey;
}

.etoilesbleues {
    color: #0065FC;
}

/********************activités*************************/

/*bloc carte*/

.activite_carte {
    display: flex;
    justify-content: space-around;
}

.colone2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*Grande cartes*/

.grande_carte {
    box-shadow: 5px 5px 5px 5px #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    width: 20%;
    margin-right: 10px;
}

.grande_photo {
    border-radius: 25px 25px 0px 0px;
    height: 500px;
    width: 100%;
    object-fit: cover;
}


/*carte de moyenne taille*/

.moyenne_photo {
    border-radius: 25px 25px 0px 0px;
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.moyenne_carte {
    text-align: start;
    box-shadow: 5px 5px 5px 5px #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    width: 100%;
}

/*petite carte*/

.petite-img {
    height: 150px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

.petitecarte {
    box-shadow: 5px 5px 5px 5px #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    text-align: start;
    width: 100%;
}

/*footer*/

footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    height: 250px;
    background-color: #F2F2F2;
}

.noshebergements {
    margin-left: -150px;
}

.assistance {
    margin-right: 300px;
}

/*version mobile - Tablette*/

@media screen and (max-width: 768px) {

    /*head*/

    .entete_imagelogo{
        flex-direction: column;
    }
    .btn_navigation {
        color: black;
        font-weight: 550;
        padding-bottom: 15px;
    }

    .btn_navigation:hover {
        border: none;
        border-bottom: #0065FC 3px solid;
    }

    /*packshot*/

    /*titre*/

    .titre {
        flex-direction: column;
        text-align: center;
        text-justify: auto;
    }

    /*barre de recherche*/

    .barre-de-recherche {
        justify-content: center;
    }

    input[type="submit"] {
        display: none;
    }

    .loupe {
        display: flex;
        justify-content: center;
        left: -5px;
        position: relative;
        border-radius: 0 15px 15px 0;
        height: 60px;
        color: white;
        background: #0065FC;
    }

    .btn1 {
        display: flex;
        flex-direction: row;
    }

    /*filtres*/

    .itemfiltres{
        display: flex;
        flex-direction: column;
    }
    .bloc_filtres{
        display: flex;
        flex-direction: column;
    }

    .ecofamille {
        display: flex;
    }

    .romantique {
        display: flex;
        flex-direction: column;
        width: 150px;
        margin-left: 35px;
    }
    .filtre{
        margin-bottom: 10px;
    }


    /*card*/

    main {
        flex-direction: column;
    }

    /*aside*/
    .proposition{
        width: 100%;
    }

    .bloc-popularite{
        border-radius: 0px;
    }

    .section-carte {
        flex-direction: column-reverse;
        margin-bottom: 200px;
    }

    .popularity {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .photo_populaire{
        width: 35%;
    }
    .corps_populaire{
        width: 300px;
    }

    /*logement*/

    .logement {
        flex-direction: column;
        width: auto;
        background-color: white;
        border: none;
    }

    .hotel1 {
        flex-direction: column;
        align-items: center;
    }

    .carte {
        width: 80%;
        box-shadow: 5px 5px 5px 5px #F2F2F2;
        border: 1px solid #F2F2F2;
        flex-direction: column;
    }
   .corps-de-carte{
    height: 100px;
    justify-content: flex-start;
   }
   .titre-carte{
    height: 30px;
   }

    /*activités*/

    .activites {
        height: auto;
        margin-top: 1150px;
    }

    .activite_carte {
        flex-direction: column;
        align-items: center;
    }

    .colone2 {
        width: 80%;
    }

    /*cartes activités*/

    .grande_carte {
        width: 80%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
   
    .grande_photo {
        height: 175px;
    }
    .moyenne_carte{
        margin-bottom: 15px;
    }
    .moyenne_photo{
        height: 175px;
    }
    .petitecarte {
        margin-bottom: 15px;
    }
    .petite-img {
        height: 175px;
    }

    /*footer*/

    footer {
        flex-direction: column;
        height: auto;
    }

    .noshebergements {
        margin-left: 0%;
    }
}