/*Police*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

/***************Généralités***********/

* {
    box-sizing: border-box;
    font-family: "Raleway";
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*****************header****************/

.entete_imagelogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 115px;
}

.choix{ 
    display: flex;
    width: 450px;
    height: 115px;
}
.navigation{
    display: flex;
    width: 100%;
}
.btn_navigation{
    display: flex;
    font-weight: 450;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/*hoover*/

.btn_navigation:hover {
    border-top: 4px solid #0065FC;
    color: #0065FC;
}

/******************Main********************/

/****************Slogan***************/

.titre_packshot{
    margin-left: 20px;
}

/*********barre de recherche********/

.barre-de-recherche {
    display: flex;
    justify-items: baseline;
    margin-left: 20px;
}

.iconemap {
    position: relative;
    text-align: center;
    padding-top: 20px;
    right: -3px;
    height: 60px;
    width: 60px;
    border-radius: 15px 0 0 15px;
    background: #F2F2F2;
}

/*bouton barre de recherche*/

.btn1 {
    margin-left: 4px;
}

input[type="text"] {
    height: 60px;
}

input[type="submit"] {
    border: none;
    left: -5px;
    position: relative;
    border-radius: 0 15px 15px 0;
    height: 60px;
    color: white;
    background: #0065FC;
}

.loupe {
    display: none;
    position: relative;
    text-align: center;
    padding-top: 20px;
    right: -3px;
    height: 60px;
    width: 60px;
    border-radius: 15px 0 0 15px;
    background: #0065FC;
}


/*Les filtres*/

.itemfiltres {
    display: flex;
    align-items: center;
}

.titre_filtre {
    margin: 25px 25px 20px 25px;
}

.bloc_filtres{
    display: flex;
    justify-content: space-around;
    width: 60%;
}


.filtre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid #F2F2F2;
    border-radius: 25px;
    width: 180px;
}

.filtre span{
    width: 100%;
    display: flex;
    justify-content: center;

}

.partie{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.icone {
    padding: 14px;
    color: #0065FC;
    background-color: #DEEBFF;
    margin-left: -10px;
    height: 45px;
    width: 45px;
    border-radius: 25px;
}

.filtre:hover {
    background-color: #0065FC;
    color: #F2F2F2;
}


/****************Texte d'information******************/

.information {
    display: flex;
    align-items: baseline;
    margin-left: 20px;
}

.fa-info {
    color: #0065FC;
    border: solid 4px #F2F2F2;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    text-align: center;
}

/********************logement*********************/

.section-carte {
    display: flex;
    justify-content: space-around;
}

.logement {
    width: 70%;
    background: #F2F2F2;
    height: 740px;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*cartes-logement*/

.hotel1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
   
}

.carte {
    flex-direction: column;
    padding: 3px;
    margin: 10px;
    border-radius: 25px;
    width: 100%;
    background: white;
}

/*photo des cartes logements*/

.photo {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.corps-de-carte {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
}
.corps-de-carte h3{
    margin-bottom: -5px;
}

/****************aside*****************/

.proposition {
    width: 30%;
    display: flex;
    flex-direction: column; 
}

.pop {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    align-items: baseline;
}

.bloc-popularite {
    margin: 0px 30px 0px 30px;
    height: 740px;
    border-radius: 25px;
    background-color: #F2F2F2;
}
.popularity{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.carte_populaire{
    display: flex;
    width: 90%;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
}

/*Titre*/

.photo_populaire{
    border: 1px;
    border-radius: 25px 0px 0px 25px;
    width: 40%;
    height: 170px;
    margin: 3px;
    object-fit: cover;
}

.corps_populaire{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
}
.corps_populaire h3{
    margin-bottom: -10px;
}

.etoiles4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #c8c8c8;
}

.etoilesbleues {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #0065FC;
}

/********************activités*************************/

/*bloc carte*/

.activites h3{
    margin-bottom: 30px;
    margin-left: 20px;
}
.activite_carte {
    display: flex;
    justify-content: space-around;
}

.colone2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

/*Grande cartes*/

.grande_carte {
    box-shadow: 5px 5px 5px 5px #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    width: 20%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grande_photo {
    border-radius: 25px 25px 0px 0px;
    height: 400px;
    width: 100%;
    object-fit: cover;
}


/*carte de moyenne taille*/

.moyenne_photo {
    border-radius: 25px 25px 0px 0px;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.moyenne_carte {
    box-shadow: 5px 5px 5px 5px #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*petite carte*/

.petite-img {
    height: 120px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

.petitecarte {
    box-shadow: 5px 5px 5px 5px #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    text-align: start;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*footer*/

footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    height: 200px;
    background-color: #F2F2F2;
}

.propos{
    width: 33%;
}

/*version mobile - Tablette*/

@media screen and (max-width: 768px) {

    /*head*/

    .entete_imagelogo{
        flex-direction: column;
        height: 175px;
    }
    nav {
        display: flex;
        height: 40px;
        width: 115%;
    }
    .choix{
        flex-wrap: nowrap;
        flex-basis: 100%;
        height: 20px;
    }
    .navigation{
        height: 20px;
        width: 100%;
    }

    .btn_navigation {
        width: 100%;
    }

    .btn_navigation:hover {
        border: none;
        border-bottom: #0065FC 3px solid;
    }

    /*packshot*/

    /*titre*/

    .titre {
        flex-direction: column;
        text-align: center;
        text-justify: auto;
    }

    /*barre de recherche*/

    .barre-de-recherche {
        justify-content: center;
    }

    input[type="submit"] {
        display: none;
        border-left: none;
    }

    .loupe {
        display: flex;
        justify-content: center;
        left: -7px;
        position: relative;
        border-radius: 15px 15px 15px 15px;
        height: 60px;
        color: white;
        background: #0065FC;
    }

    .btn1 {
        display: flex;
        flex-direction: row;
    }

    /*filtres*/

    .itemfiltres{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
  
    .bloc_filtres{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }
    .filtre{
        height: 45px;
    }
    .partie{
        display: flex;
        width: 95%;
        justify-content: space-between;
    }
    .play{
        height: 115px;
        width: 95%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .personne{
        width: 170px;
    }

    /*card*/

    main {
        flex-direction: column;
    }

    /*aside*/
    .proposition{
        width: 100%;
        background-color: #F2F2F2;
    }

    .bloc-popularite{
        border-radius: 0px;
    }

    .section-carte {
        flex-direction: column-reverse;
        margin-bottom: 200px;
    }

    .popularity {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .carte_populaire .corps_populaire{
        font-size: 16px;
    }

    /*logement*/

    .logement {
        flex-direction: column;
        width: auto;
        background-color: white;
        border: none;
        margin-top: 500px;
    }

    .hotel1 {
        flex-direction: column;
        align-items: center;
    }

    .carte {
        width: 80%;
        box-shadow: 5px 5px 15px 2px #F2F2F2;
        border: 1px solid #F2F2F2;
        flex-direction: column;
    }

    .corps-de-carte{
    height: 110px;
    justify-items: flex-start;
   }

   .corps-de-carte h3{
    margin-bottom: -5px;
   }

   .titre-carte{
    height: 30px;
   }

    /*activités*/

    .activites {
        height: auto;
        margin-top: 300px
    }

    .activite_carte {
        flex-direction: column;
        align-items: center;
    }

    .colone2 {
        width: 80%;
    }

    /*cartes activités*/

    .grande_carte {
        width: 80%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
   
    .grande_photo {
        height: 175px;
    }
    .moyenne_carte{
        margin-bottom: 15px;
    }
    .moyenne_photo{
        height: 175px;
    }
    .petitecarte {
        margin-bottom: 15px;
    }
    .petite-img {
        height: 175px;
    }

    /*footer*/

    footer {
        flex-direction: column;
        height: auto;
    }
}